@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
$font: #00FF41;
$bg: #121b12;

body {
  font-family: 'VT323', monospace;
  background-color: $bg;
 
}

h1 {
  color: $font;
}

#cursor {
  border-left: .1em solid $font;
  animation: blink .7s steps(1) infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}